<div class="container-card d-flex">

  <% if van.photo.attached? %>
    <%= cl_image_tag van.photo.key, class: "card-dashboard-img"%>
  <% elsif van.image_url.present?%>
    <img src="<%= van.image_url %>" class="card-dashboard-img" alt="van">
  <% else %>
    <img src="https://res.cloudinary.com/dhyuv86iu/image/upload/v1741188996/jikun-li-Xeg4GZFc1IQ-unsplash_cgoixa.jpg" width="auto" height="auto" class="card-dashboard-img">
  <% end %>

  <div class="container-info d-flex flex-column align-items-start col-8">
    <div class="title-dash"><%= van.model %></div>
    <div class="address"> Adresse : <%= van.address %></div>
    <div class="price"> Prix par jour : <%= van.price %>€</div>
    <div class="status-van status-<%= van.status.downcase.tr(' ', '-') %>"> Statut du van : <%= van.status %></div>

  </div>
  </div>
