<%= simple_form_for(van) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :fuel, label: "Type de carburant", prompt: "Sélectionnez votre type de carburant", collection: Van::CATEGORIES %>
    <%= f.input :model, label: "Modèle", placeholder: "Roadsurfer, Volkswagen Crafter..." %>
    <%= f.input :price, label: "Prix par jour (en €)", placeholder: "Indiquez le prix", input_html: { min: 0 } %>
    <%= f.input :surface, label: "Surface (en m²)", placeholder: "Indiquez la surface" %>
    <%= f.input :photo, as: :file %>
  </div>

  <%= f.button :submit, value: "Créer mon van", class: "ms-2 btn btn-flat   "%>
  <div class="form-actions d-flex form-actions justify-content-start" style="margin-top: 80px">
    <%= link_to "Retour", vans_path, class: "btn btn-secondary py-2 rounded-3 me-1" %>
    
<% end %>
