<%= simple_form_for(van) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :fuel, label: "Type de carburant", prompt: "Sélectionnez votre type de carburant", collection: Van::CATEGORIES %>
    <%= f.input :model, label: "Modèle", placeholder: "Roadsurfer, Volkswagen Crafter..." %>
    <%= f.input :price, label: "Prix par jour (en €)", placeholder: "Indiquez le prix", input_html: { min: 0 } %>
    <%= f.input :surface, label: "Surface (en m²)", placeholder: "Indiquez la surface" %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Créer le van", class: "btn btn-flat mb-1"%>
  </div>
<% end %>
