<div class="container">
  <div class="row">
      <h1>Trouvez le van de vos rêves</h1>
        <div id= "cards" class="row d-flex justify-content-center align-items-center">
          <% @vans.each do |van| %>
            <div class="card-home col-4 " style="width: 23rem;">
             <%= link_to van_path(van), class: "plain" do %>
            <% if van.photo.attached? %>
              <%= cl_image_tag van.photo.key, class: "card-img"%>
            <% elsif van.image_url.present?%>
              <img src="<%= van.image_url %>" class="card-img" alt="van">
            <% else%>
              <img src="https://res.cloudinary.com/dhyuv86iu/image/upload/v1741188996/jikun-li-Xeg4GZFc1IQ-unsplash_cgoixa.jpg" class= "card-img" alt="van">
            <% end %>
                <div class="card-body-index">
                  <h5 class="card-title"><strong> <%= van.model %></strong></h5>
                  <p class="card-text card-text-index">Adresse : <%= van.address %></p>
                  <p class="card-text"><%= van.price %>€ par jour</p>
                </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div data-controller="toggle" class="mt-5 map-container">
  <button class="btn btn-flat btn-map" data-action="click->toggle#fire"><span>Voir la carte</span>
  <img src="https://res.cloudinary.com/dexzpdaju/image/upload/v1741184289/icons8-carte-30_sx5vze.png" alt="icon-map">
  </button>

    <div style="height: 600px" id="map-container" data-toggle-target="togglableElement"class="d-none"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
