<div class="container">
<h2><%= @van.model%></h2>
<p>Fuel: <%= @van.fuel %></p>
<p>Price: <%= @van.price %></p>
<p><%= @van.surface %></p>
<%= link_to "reserver ce van", new_booking_path, class: "btn btn-flat" %>

<%= link_to "Back to all vans", vans_path %>
</div>