<%= simple_form_for([@van, @booking],html: {
data: {
controller: 'flatpickr'
}
}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
   <%= f.input :start_date, label: "Date de debut",
      as: :string,
      input_html: {
      data: {
        flatpickr_target: 'startDateInput',
      }
    } %>
    <%= f.input :end_date, label: "Date de fin",
      as: :string,
      input_html: {
      data: {
        flatpickr_target: 'endDateInput'
      }
    } %>
  </div>
  <%= f.button :submit, "Réserver ce van", class: "ms-2 btn btn-flat "%>    
  
<% end %>